<!--begin::Scrolltop-->
<div class="custom-vms">
    <div class=" p-1" id="vms-informations">
        <div class="d-flex align-items-center">
            <div class=" me-4" style="margin-top: -2px!important;">
                <P class="text-light fw-bolder" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; margin-top: -2px!important;"><span style="color:#ffffff;" class="plate-number">XXXXXXXX</span></P>
            </div>
            <div class="" style="margin-top: -2px!important;">
                <P class="text-light fw-bolder" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; margin-top: -2px!important;"><span style="color:#FF0000;">JBI : </span> <span class="jbi" style="font-size:8.7px; color:#FF0000;">0 KG</span></P>
            </div>
        </div>
        <P class="text-light fw-bolder" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; margin-top: -17px!important;"><span style="color:#ffffff;">BERAT : </span><span class="berat" style="color:#ffffff;">000000 KG</span></P>
        <P class="text-light fw-bolder" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; margin-top: -17px!important;"><span style="color:#DFFF00;">LEBIH : </span> <span class="lebih_berat" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; color:#DFFF00;">0 KG</span> <span class="persentase_kelebihan" style="font-size:8.7px; font-family: Tahoma, 'Trebuchet MS', sans-serif; color:#DFFF00;">0 %</span></P>
    </div>
</div>
<!--end::Scrolltop-->