{% extends 'mobile/layouts.html' %}
{% load static %}
{% block mainContent %}
	<div class="content-body">
		<div class="welcome-area" style="background-image: url('../assets/images/w3badoo/background/bg1.png'); background-size: cover; background-position: center;">
			<div class="welcome-inner flex-column">
				<div class="logo-area">
					<img class="logo" src="../assets/images/w3badoo/logo-white.png" alt="">
					<p class="para-title">Join us with other millions of people and find your best matches.</p>
				</div>
				<div class="social-area">
					<a href="login.html" class="btn btn-icon icon-start btn-tp w-100">
						<img src="../assets/images/social-icon/google.svg" alt="">
						<span>Sign in with Google</span>
					</a>
					<a href="login.html" class="btn btn-icon icon-start w-100 btn-facebook">
						<i class="fa-brands fa-facebook-f"></i>
						<span>Sign in with Facebook</span>
					</a>
					<a href="login.html" class="btn btn-icon-outline btn-white icon-start w-100">
						<img src="../assets/images/social-icon/telephone.svg" alt="">
						<span>Sign in with phone No.</span>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock mainContent %}
{% block script %}
<script src="{% static 'dist/scripts/auth/auth.init.js' %}"></script>
{% endblock %}