{% load static %}
<!-- Favicons Icon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'dist/mobile/assets/images/favicon.png' %}">
<!-- PWA Version -->
<link rel="manifest" href="manifest.json">
<!-- Global CSS -->
<link href="{% static 'dist/mobile/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dist/mobile/assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/mobile/assets/vendor/swiper/swiper-bundle.min.css' %}">
<!-- Stylesheets -->
<link rel="stylesheet" class="main-css" type="text/css" href="{% static 'dist/mobile/assets/css/style.css' %}">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Base Route JS -->
<script type="text/javascript">
    const base_url = "{{ request.scheme }}://{{ request.get_host }}/";
    const static_url = "{% static '' %}";
</script>
<script>
    // Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
    if (window.top != window.self) {
        window.top.location.replace(window.self.location.href);
    }
</script>