{% load static %}
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'dist/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'dist/js/scripts.bundle.js' %}"></script>
<script src="{% static 'dist/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'dist/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'dist/plugins/Magnific-Popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<!--end::Global Javascript Bundle-->
<script src="{% static 'dist/scripts/auth/site_info.init.js' %}"></script>